summit-events-agentforce-app/main/default/flows/Summit_Event_Instance_Create_a_child_instance_ALF.flow-meta.xml
<?xml version="1.0" encoding="UTF-8" ?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>64.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <environments>Default</environments>
    <interviewLabel
  >Summit Event Instance - Create a child instance - ALF {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Summit Event Instance - Create a child instance - ALF</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_a_Child_Event_Instance</name>
        <label>Create a Child Event Instance</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignRecordIdToReference>instancerecordid</assignRecordIdToReference>
        <connector>
            <targetReference>Get_Child_Intance_record</targetReference>
        </connector>
        <inputAssignments>
            <field>summit__Active_Status__c</field>
            <value>
                <stringValue>Planning</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>summit__Capacity__c</field>
            <value>
                <elementReference>capacity</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>summit__Event__c</field>
            <value>
                <elementReference>eventrecordid</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>summit__Instance_End_Date__c</field>
            <value>
                <elementReference>enddate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>summit__Instance_End_Time__c</field>
            <value>
                <elementReference>endtime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>summit__Instance_Start_Date__c</field>
            <value>
                <elementReference>startdate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>summit__Instance_Start_Time__c</field>
            <value>
                <elementReference>starttime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>summit__Instance_Title__c</field>
            <value>
                <elementReference>InstanceName</elementReference>
            </value>
        </inputAssignments>
        <object>summit__Summit_Events_Instance__c</object>
    </recordCreates>
    <recordLookups>
        <name>Get_Child_Intance_record</name>
        <label>Get Child Intance record</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound
    >false</assignNullValuesIfNoRecordsFound>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>instancerecordid</elementReference>
            </value>
        </filters>
        <object>summit__Summit_Events_Instance__c</object>
        <outputReference>InstancerecordId2</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Name</queriedFields>
        <queriedFields>summit__Active_Status__c</queriedFields>
    </recordLookups>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Create_a_Child_Event_Instance</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>capacity</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>enddate</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>endtime</name>
        <dataType>Time</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>eventrecordid</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>InstanceName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>child instance record Id</description>
        <name>instancerecordid</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>InstancerecordId2</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <objectType>summit__Summit_Events_Instance__c</objectType>
    </variables>
    <variables>
        <description>Parent Event record</description>
        <name>parentrecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>summit__Summit_Events__c</objectType>
    </variables>
    <variables>
        <name>startdate</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>starttime</name>
        <dataType>Time</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
