force-app/main/default/flows/SEA_Update_Descriptions.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Generate_Short_Description</name>
        <label>Generate Short Description</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>Generate_Short_Description_for_Event</actionName>
        <actionType>generatePromptResponse</actionType>
        <connector>
            <targetReference>Assign_Short_Description</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>Input:summit__Summit_Events__c</name>
            <value>
                <elementReference>Get_Event</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Generate_Short_Description_for_Event</nameSegment>
        <offset>0</offset>
        <outputParameters>
            <assignToReference>generatedShortDescription</assignToReference>
            <name>promptResponse</name>
        </outputParameters>
    </actionCalls>
    <apiVersion>64.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Assign_Description_to_Event</name>
        <label>Assign Description to Event</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>Get_Event.summit__Event_description__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>eventDescription</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Records_1</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Short_Description</name>
        <label>Assign Short Description</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>Get_Event.summit__Event_Short_Listing_Description__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>generatedShortDescription</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Records_2</targetReference>
        </connector>
    </assignments>
    <environments>Default</environments>
    <interviewLabel>SEA - Update Descriptions {!$Flow.CurrentDateTime}</interviewLabel>
    <label>SEA - Update Descriptions</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Event</name>
        <label>Get Event</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_Description_to_Event</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>eventId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>summit__Summit_Events__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Records_1</name>
        <label>Update Event Description</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Generate_Short_Description</targetReference>
        </connector>
        <inputReference>Get_Event</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Records_2</name>
        <label>Update Short Description</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <inputReference>Get_Event</inputReference>
    </recordUpdates>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Event</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>eventDescription</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Input ID of the event to update.</description>
        <name>eventId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>generatedShortDescription</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
